.home h1 {
    text-align: center;
    font-family: "Helvetica";
}

html{
    font-family: "sans-serif";
    background: #15202B;
    padding: 1rem;
}

body{
    max-width: 960px;
    margin: 0 auto;
    background-color: #1C2732;
}

.post {
    font-size: x-large;
    margin-left: 6rem;
    margin-top: 3rem;
    color: white;
}

.content form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.content input{
    padding: 1em;
    margin-bottom: 1.5em; 
    outline: none;

}

.content textarea{
    padding: 1em;
    margin-bottom: 1.5em; 
    outline: none;

}

.content input[type="submit"]{
    font-size: large;
    font-family: Andale Mono, monospace;
    padding: 8px;
}

.content h2 {
    color: white;
    text-align: center;
    font-family: "Candara";
}

.home button {
    font-size: large;
    font-family: Andale Mono, monospace;
    padding: 8px;
}
