{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="create">
            <form method="POST">
                <textarea id="body" name="body" > {{ request.form['body'] }}</textarea>
                <input type="submit" id="inputpost" onmouseenter="enter()" value="POST">
            </form>
        </div>
    {% endif %}

{% for post in posts %}
    <article class="post">
        <header>
            <div>
                <div class="about">
                    {{ post.author.username }} <span class="date">
                        {{ post.created.strftime('%d/%m/%Y') }} </span>
                </div>
            </div>
        </header>
        <p class="body"> {{post.body}} </p>
    </article>  
{% endfor %}
{% endblock%}