<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="nav">
            <nav>
                {% if current_user.is_authenticated %}
                    <ul>
                        <li style="float:left;"> <a href="{{ url_for('index') }}"> Home </a> </li>
                        <li> <a href="{{ url_for('logout') }}"> Log Out </a> </li>
                        <li> <a href="{{ url_for('profile', username = current_user.username) }}"> Profile </a></li>
                        <li> <span> {{current_user.username}} </span> </li>
                    </ul>

                {% else %}
                    <ul>
                        <li style="float:left;"> <a href="{{ url_for('index') }}"> Home </a> </li>
                        <li> <a href="{{ url_for('login') }}"> Login </a> </li>
                        <li> <a href="{{ url_for('register') }}"> Register </a> </i>
                    </ul>
                {% endif %}
            </nav>
        </div>
        
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>