<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="/static/style.css">
        
        <div class="nav">
            <nav>
                <h1> Home </h1>
                {% if current_user.is_authenticated %}
                    <span> {{current_user.username}} </span>
                    <a href="{{ url_for('create') }}">
                        <button> Create Post </button>
                    </a>
                    <a href="{{ url_for('logout') }}">
                        <button> Logout </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('register') }}">
                        <button> Register </button>
                    </a>
                    <a href="{{ url_for('login') }}">
                        <button> Login </button> 
                    </a>
                {% endif %}
            </nav>
        </div>
    </head>

    <body>
        <div class="home">
        </div>
        <section class="content">
            <header>
                {% block header %}

                {% endblock %}

            </header>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>