{% extends "index.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
        <div class="profile"> 
                {% if user.username == current_user.username %}
                    <span class="delete_edit_btn"> <a id="modal"> <i class="fa fa-gear" style="font-size:24px"></i> </a> </span>
                    <div id="mymodal" class="modal">
                        <div class="inside">
                          <span class="close">&times;</span>
                          <p> <a href="{{ url_for('delete_user', id = current_user.id) }}">Delete Account</a> </p>
                          <p> <a href="{{ url_for('upload') }}">Edit Image</a> </p>
                        </div>
                      </div>
                {% endif %}
                <span class="img"> <img src='/static/uploads/{{ user.username }}.jpg'/> </span>
                <span class="profile_user"> {{ user.username }} </span>
                <span class="date_user"> Entered in {{ user.created.strftime('%d/%m/%Y') }} </span>
        </div>
        {% for post in posts %}
            {% if user.username == post.author.username %} 
                <article class="post">
                    <header>
                        <div>
                            <div class="about">
                                <span> <div class="delete">
                                    {% if current_user.is_authenticated and post in current_user.posts %}
                                            <a href="{{ url_for('delete', id = post.id) }}"> <i class="fa fa-trash"> </i>  </a>
                                </div> </span>
                                    {% endif %}
                                    <span class="img_post"> <img src='/static/uploads/{{ post.author.username }}.jpg'/> </span> 
                                    <span class="username"> {{ post.author.username }} </span>
                                    <span class="date">
                                    {{ post.created.strftime('%d/%m/%Y') }} </span> 
                            </div>
                        </div>
                    </header>
                    <p class="body"> {{post.body}} </p>
                </article>  
            {% endif %}   
        {% endfor %}
{% endblock%}