{% extends "index.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="profile">
        <h1> Welcome, {{ current_user.username }} </h1>
    </div>

    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <div class="about">
                        <span> <div class="delete">
                            {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('delete', id = post.id) }}"> <i class="fa fa-trash"> </i>  </a>
                        </div> </span>
                            {% endif %} {{ post.author.username }} <span class="date">
                            {{ post.created.strftime('%d/%m/%Y') }} </span> 
                    </div>
                </div>
            </header>
            <p class="body"> {{post.body}} </p>
        </article>  
    {% endfor %}
{% endblock%}